.dialog-option-container {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
}

.dialog-option-container-actor {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.dialog-option-container-button {
    margin-right: 16px;
}

.dialog-option-container-options {
    display: flex;
    flex-direction: column;
}

.dialog-name {
    display: inline-block;
    font-size: var(--text-size);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 8px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: rgba(0, 0, 0, 0.70);
    box-shadow: 1px 1px 1px 1px black;
}

.dialog-option-text {
    display: inline-block;
    font-size: var(--text-size);
}

.dialog-option {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 16px;
}

.dialog-option-primary {
    color: var(--color-accent);
    border-left: 1px solid var(--color-accent);
    text-shadow: 1px 1px 2px black;
}

.dialog-option-secondary {
    color: var(--color-alternative);
    border-left: 1px solid var(--color-alternative);
    text-shadow: 1px 1px 2px black;
}

.square-icon {
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: var(--text-size);
    color: var(--color-alternative);
    border: 2px solid  var(--color-alternative);
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 4px;
}