.dialog-option-container {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
}

.dialog-option-container-actor {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.dialog-option-container-button {
    margin-right: 16px;
}

.dialog-option-container-options {
    display: flex;
    flex-direction: column;
}

.dialog-name {
    display: inline-block;
    font-size: var(--text-size);
    padding: var(--dialog-name-padding);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: rgba(0, 0, 0, 0.70);
    box-shadow: 1px 1px 1px 1px black;
}

.dialog-option-text {
    display: inline-block;
    font-size: var(--text-size);
}

.dialog-option {
    padding: var(--dialog-option-padding);
}

.dialog-option-primary {
    color: var(--color-accent);
    border-left: 1px solid var(--color-accent);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);;
}

.dialog-option-secondary {
    color: var(--color-alternative);
    border-left: 1px solid var(--color-alternative);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.square-icon {
    height: var(--square-icon-size);
    width: var(--square-icon-size);
    text-align: center;
    font-size: var(--text-size);
    color: var(--color-alternative);
    border: 2px solid  var(--color-alternative);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}