.speech-container {
    max-width: 80%;
    font-size: var(--text-size);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 8px;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
}

.speech-text {
    cursor: pointer;
    color: var(--color-alternative);
    text-shadow: 1px 1px 2px black;
}

.speech-actor {
    cursor: pointer;
    color: var(--color-primary);
    margin-right: 8px;
    text-shadow: 1px 1px 2px black;
}
