.chamfer-left .chamfer-parent  {
    flex-direction: row-reverse;
}

.chamfer-right .chamfer-parent  {
    flex-direction: row;
}

.chamfer-parent {
    display: flex;
    position: relative;

    height: 100%;
    /** Bright pink! This is set by the react component later */
    --chamfer-color: #fd0096
}

.chamfer-content {
    background-color: var(--chamfer-color);

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 16px;
    z-index: 10;
}

.chamfer {
    position: relative;
    width: var(--chamfer-padding);
    height: 100%;
}

.chamfer-padding {
    height: calc(100% - var(--chamfer-padding));
    width: var(--chamfer-padding);

    background-color: var(--chamfer-color);
}

.chamfer-bevel {
    position: absolute;
    width: calc(var(--chamfer-padding) * 1.4142);
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: var(--chamfer-color);
}

.chamfer-right .chamfer-bevel  {
    right: 0;
    bottom: 0;
    transform-origin: bottom left;
    transform: translateX(calc(var(--chamfer-padding) * 0.4142)) rotate(-45deg);
}

.chamfer-left .chamfer-bevel {
    left: 0;
    bottom: 0;
    transform-origin: bottom right;
    transform: translateX(calc(var(--chamfer-padding) * 0.4142)) rotate(-45deg);
}