html {
  --color-primary: #ff6255;
  --color-alternative: rgb(32, 255, 255);
  --color-accent: #ffd33a;
  --color-legendary: #fa922d;
  --color-epic: #a12afa;
  --color-rare: #246ed7;
  --color-uncommon: #18ed81;
  --color-limited: #00edc9;

  --text-size: 32px;
  --text-size-small: 16px;

  /* Used for the edge-chamfer component */
  --chamfer--padding: 16px;
}

.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.bg-image-static {
  background: url("assets/wakako.jpeg") #000 no-repeat;
  background-size: cover;
}

.bg-image-transparent {
  background: transparent;
}

.bg-image {
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;

}

.text-container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.print-button {
  position: fixed;
  left: 16px;
  bottom: 16px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
}